:root {
  --kzmn71xkrbmgwtlrmibb-lite-vusercontent-net-line-height-20: 20px;
  --kzmn71xkrbmgwtlrmibb-lite-vusercontent-net-item-spacing-29-5: 29.5px;
  --kzmn71xkrbmgwtlrmibb-lite-vusercontent-net-item-spacing-27-5: 27.5px;
  --kzmn71xkrbmgwtlrmibb-lite-vusercontent-net-width-960: 960px;
}
